.product-name {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 10px;
}

.product-price {
  font-size: 24px;
  font-weight: 500;
  margin-top: 24px;
  margin-bottom: 10px;
}

.product-attributes {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.attribute-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.attribute-container__title_container {
  display: flex;
  justify-content: space-between;
  min-width: 100px;
  font-size: 14px;
}

.attribute-boxes {
  display: flex;
  gap: 16px;
}

.checkout-button {
  background-color: rgb(240, 167, 23);
  color: #fff;
  border: none;
  padding: 14px 40px;
  font-size: 16px;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
}

.barem-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-right: 1px solid #c5c5c5;
  padding-right: 16px;
}

.barem-box:last-child {
  border-right: none;
}
